<table class="table table-bordered">
  <thead>
    <tr>
      <th>sr. no</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let std of newStudentArray; let i = index">
      <td>{{i + 1}}</td>
      <td>{{std.name}}</td>
      <td>{{std.lastName}}</td>
      <td>{{std.email}}</td>
      <td>{{std.contact}}</td>
      <td><button class="btn btn-warning">Edit</button></td>
      <td><button class="btn btn-danger" (click)="onRemove(std)">Remove</button></td>
    </tr>
  </tbody>
</table>
